@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

html {
  font-family:laca, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
}

.main {
  padding-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 50%;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 50%;
}

.terms {
  height: 400px;
  padding: 70px;
  overflow-x: hidden;
  overflow-y: scroll
}

.button-container {
  margin-top: 50px;
  text-align: center;
}
